/* admin::product 用 */
#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; overflow-y:scroll; min-height:200px;}
#sortable li { margin: 3px 3px 40px 0; padding: 1px; float: left; width: 150px; height: 100px; font-size: 0.5em; text-align: center; }
#sortable li img{width:100%; height:100% }
#sortable li:hover {cursor:pointer;}

div.jbox_div p{
	font-size:1.3em;
	font-family:"微軟正黑體";
}

img.datatable_img {
	max-width : 150px;
	max-height : 100px;
}


@media only screen and (min-width:650px) {
	a.social-likes__widget_line { display: none; }
}

a.social-likes__widget_line :hover{
	color:white;
    background-color:#22BC0C;
}

span.social-likes__icon_line {
	background-repeat: no-repeat;
    background-image: url(../images/line_icon2.png);
	-moz-background-size:26px 27px;
	-webkit-background-size:26px 27px;
	-o-background-size:26px 27px;
	background-size:26px 27px;

}

/*前台 product::index*/
.product_item_name {
	font-size:0.8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*前台 detail::index*/
.bc_container {
	margin: 2% auto;
	width: 100%;
}

.bc_container .breadcrumb {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.bc_container .breadcrumb li {
  display: inline;
}